.form {
	background:
	radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, whitesmoke 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
	radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, whitesmoke 10px, rgba(96, 16, 48, 0) 11px),
	#51AFBC;
	background-size: 20px 20px;
}

.accentBg{
	background: #FF766B;
}

